* {
    margin: 0;
    padding: 0;
    
}
:root {
    --white-bgr-color: white;
    --black-text-color: black;   
}
.dark-theme {
    --black-bgr-color: black;
    --white-text-color: white;
}
body {
    background-color: var(--black-bgr-color);
    color: var(--white-text-color);
}
#icon {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1 {
    text-align: center;
    font-size: 50px;
}
.img {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    animation: img 2s linear infinite;
}
@keyframes img {
    0% {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}